@font-face {
    font-family: 'Gothic'; /* Choose a unique name for your font */
    src: url('DidactGothic-Regular.ttf') format('truetype'); /* Replace 'your-custom-font.ttf' with the actual font file name and path */
}
@font-face {
    font-family: 'Fancy'; /* Choose a unique name for your font */
    src: url('DancingScript-VariableFont_wght.ttf') format('truetype'); /* Replace 'your-custom-font.ttf' with the actual font file name and path */
  }
body {
    margin: 0;
    padding: 0;
    font-family: "Gothic", sans-serif;
    width: 100%;
    height: 100%;
}
.name-company {
    font-family: "Fancy", sans-serif;
    font-size: 20px;
    padding-right: 200px;
    cursor: default;
  }
.navbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 10px;
    position: absolute; /* Add this to keep the navbar fixed */
    top: 0; /* Add this to keep the navbar at the top of the viewport */
    left: 0; /* Add this to keep the navbar at the left of the viewport */
    right: 0; /* Add this to keep the navbar at the right of the viewport */
    z-index: 999; /* Add this to ensure the navbar stays on top of other elements */
}
.vertical-bar {
    cursor: default;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}
.nav-links li a:hover {
    background-color: #555;
    border-radius: 10px;
}
#saberMais {
    width: 100%;
    height: 100%;
    background-color: #333;
    position: relative;
    overflow: hidden; 
}
#saberMais .frame {
    border: 20px solid #fff; /* Adjust the border size and color as needed */
    box-sizing: border-box; /* Ensure the border doesn't increase the element's size */
    width: calc(60% + 40px); /* Account for the border size */
    height: calc(60% + 40px); /* Account for the border size */
    position: absolute;
    top: 50%; /* Center the container vertically */
    left: 50%; /* Center the container horizontally */
    transform: translate(-50%, -50%); /* Center the container precisely */
}
.reach {
    font-size: 20px;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 125px;
    color: white;
    font-weight:bolder;
    text-decoration: underline;
    text-underline-offset: 10px;
    cursor: default;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.image img {
    width: 950px;
    height: 100%;
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
}
.paises {
    margin-top: 75px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.paises p {
    font-size: 20px;
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight:bolder;
    text-decoration: underline;
    text-underline-offset: 10px;
    cursor: default;
}
.image-grid {
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 50px); /* 6 images per row */
    gap: 50px; /* Adjust this value to add spacing between images */
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
  }
.image-grid img {
    transition: transform 0.2s ease-in-out;
}
.image-grid img:hover {
    transform: scale(1.3);
}
.navbar-mobile {
    display: none;
}
.mobile-nav {
    display: none;
}
.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 1180px) {
    .navbar {
        display: none;
    }
    .separador {
        display: none;
    }
    .reach {
        margin-top: 75px;
    }
    .name-company {
        display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 10px;
          z-index: 100;
          margin-top: 20px;
          left: 10px;
          padding-left: 20px;
      }
      .name-company-div {
        display: block;
        border-bottom: 1px solid white;
        z-index: 10000;
        padding: 30px;
        width: 100%;
      }
    .navbar-mobile {
        color: #fff;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        z-index: 999; /* Add this to ensure the navbar stays on top of other elements */
    }
    .nav-links-mobile {
        list-style: none;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-links-mobile li a {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
    }
    .nav-links-mobile li a {
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
    }
    .nav-links-mobile li a:hover {
        background-color: #555;
        border-radius: 10px;
    }
    .button-menu {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-20px, 25px);
        background-color: red;
        cursor: pointer;
    }
    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 15px;
    }
    .mobile-nav {
        position: relative;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        padding-right: 28px;
        z-index: 100;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    .image img {
        width: 500px;
        height: 100%;
        background-color: #555;
        padding: 20px;
        border-radius: 10px;
    }
    .paises {
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: 400px;
    }
    .paises p {
        margin-top: 0px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .image-grid {
        grid-template-columns: repeat(3, 60px);
    }
    .open {
        display: block;
        opacity: 1; /* Show the element when the class "open" is applied */
        visibility: visible; /* Make the element visible */
    }
} 
@media screen and (max-width: 570px) {
    .paises {
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    .image img {
        width: 300px;
        height: 100%;
        background-color: #555;
        padding: 20px;
        border-radius: 10px;
    }
}